<p class="line"></p>
<li class="burger-item">

    {{burger_names}}

    <div class="btn-box d-flex justify-content-center align-items-center">
        <button class="devour-it" data-id="{{this.id}}" data-devoured="{{devouring}}">
            {{#if devouring}}Devour it!{{else}}Devoured!{{/if}}
        </button>

        <button class="burger-obliviate" data-id="{{this.id}}">Obliviate!</button>
    </div>
</li>